<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <title>Index</title>
</head>
<body>

<header class="p-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                    <use xlink:href="#bootstrap"/>
                </svg>
            </a>
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a class="nav-link px-0 text-white" id="authEmailMess">...</a></li>
            </ul>
            <div class="text-end">
                <td><a href="/logout" class="btn btn-outline-light me-2" tabindex="-1" role="button"
                       aria-disabled="false">LOGOUT</a></td>
            </div>
        </div>
    </div>
</header>
<hr class="h1">
<div class="container text-lg-start">
    <div class="row align-items-start">
        <div class="col-1">
            <br/>
            <a class="nav-link" href="/admin">Admin</a>
            <br/>
            <a class="nav-link" href="/user">User</a>
        </div>
        <div class="col">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home"
                            type="button" role="tab" aria-controls="nav-home" aria-selected="true">Admin
                    </button>
                    <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"
                            type="button" role="tab" aria-controls="nav-profile" aria-selected="false">User
                    </button>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab"
                     tabindex="0">
                    <hr class="h1">
                    <h5>ADMIN PANEL</h5>
                    <table id="usersTable" class="table">
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">First name</th>
                            <th scope="col">Last name</th>
                            <th scope="col">Age</th>
                            <th scope="col">Email</th>
                            <th scope="col">Role</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab"
                     tabindex="0">
                    <div class="container">
                        <h1>New User</h1>
                        <form id="registrationForm" class="was-validated" method="post">
                            <input type="hidden" id="id" name="id" value="">
                            <div class="form-group">
                                <label for="firstName">First name:</label>
                                <input class="form-control form-control-sm is-invalid" type="text" id="firstName"
                                       name="name"
                                       placeholder="First name. Required field!" required>
                            </div>
                            <div class="form-group">
                                <label for="lastName">Last name:</label>
                                <input class="form-control form-control-sm is-invalid" type="text" id="lastName"
                                       name="lastName"
                                       placeholder="Last name. Required field!" required>
                            </div>
                            <div class="form-group">
                                <label for="age">Age:</label>
                                <input type="number" min="18" max="100" class="form-control form-control-sm is-invalid"
                                       id="age"
                                       name="age"
                                       placeholder="Age. Required field!" required>
                            </div>
                            <div class="form-group">
                                <label for="email">Email:</label>
                                <input class="form-control form-control-sm is-invalid" type="email" id="email"
                                       name="email"
                                       placeholder="Email. Required field!" required>
                                <div class="invalid-feedback" id="userEmailFeedback"></div>
                            </div>
                            <div class="form-group">
                                <label for="password">Password:</label>
                                <input class="form-control form-control-sm is-invalid" type="password" id="password"
                                       name="password"
                                       placeholder="Password. Required field!" required>
                            </div>
                            <div id="errorCreateMessage" class="text-danger" style="display:none;"></div>
                            <br/>
                            <div class="form-check">
                                <label>Roles:
                                    <div class="container-fluid" id="rolesCreateContainer">
                                    </div>
                                </label>
                            </div>
                            <button type="button" class="btn btn-primary" id="createUserButton">Create</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Модальное окно  edit -->

<div class="modal" id="userEditDialog" tabindex="-1" role="dialog" aria-labelledby="userEditDialogLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="userEditDialogLabel">Edit user</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="editForm" class="was-validated" method="post">
                    <input type="hidden" id="user-id" name="id">
                    <input type="hidden" id="user-rolesArray" name="roles">
                    <div class="form-group">
                        <label for="user-name">First name:</label>
                        <input type="text" class="form-control form-control-sm is-invalid" id="user-name" name="name"
                               placeholder="First name. Required field!" required>
                    </div>
                    <div class="form-group">
                        <label for="user-lastName">Last name:</label>
                        <input type="text" class="form-control form-control-sm is-invalid" id="user-lastName"
                               name="lastName"
                               placeholder="Last name. Required field!" required>
                    </div>
                    <div class="form-group">
                        <label for="user-age">Age:</label>
                        <input type="number" min="18" max="100" class="form-control form-control-sm is-invalid"
                               id="user-age" name="age"
                               placeholder="Age. Required field!" required>
                    </div>
                    <div class="form-group">
                        <label for="user-email" class="col-form-label">Email:</label>
                        <input type="email" class="form-control form-control-sm is-invalid" id="user-email" name="email"
                               placeholder="Email. Required field!" required>
                    </div>
                    <div class="form-group">
                        <label for="user-password" class="col-form-label">Password:</label>
                        <input type="text" class="form-control form-control-sm is-invalid" id="user-password"
                               name="password"
                               placeholder="Password. Required field!" required>
                    </div>
                    <div class="form-group">
                        <label for="user-roles" class="col-form-label">ROLES:</label>
                        <input type="text" class="form-control form-control-sm" id="user-roles" readonly>
                    </div>
                    <div id="errorEditMessage" class="text-danger" style="display:none;"></div>
                    <br/>
                    <div class="form-check">
                        <label>Roles:
                            <div class="container-fluid" id="rolesEditContainer">
                            </div>
                        </label>
                    </div>
                    <button id="editUserConfirmButton" type="button" class="btn btn-primary">EDIT
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Модальное окно  Delete -->

<div class="modal fade" id="userDeleteDialog" tabindex="-1" role="dialog" aria-labelledby="userDeleteDialogLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="userDeleteDialogLabel">DELETE this user?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="deleteForm">
                    <input type="hidden" id="userDel-id">
                    <div class="form-group row">
                        <label for="userDel-name" class="col-sm-4 col-form-label">First name</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control-plaintext" id="userDel-name" readonly>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="userDel-lastName" class="col-sm-4 col-form-label">Last name</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control-plaintext" id="userDel-lastName" readonly>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="userDel-age" class="col-sm-4 col-form-label">Age:</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control-plaintext" id="userDel-age" readonly>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="userDel-email" class="col-sm-4 col-form-label">Email:</label>
                        <div class="col-sm-5">
                            <input type="email" class="form-control-plaintext" id="userDel-email" readonly>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="userDel-roles" class="col-sm-4 col-form-label">ROLES:</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control-plaintext" id="userDel-roles" readonly>
                        </div>
                    </div>
                    <button type="button" class="btn btn-danger" id="deleteUserButton">DELETE</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Модальное окно  Error -->

<div class="modal fade" id="modalMessageWindow" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" style="background-color: orange;">
            <div class="modal-header">
                <h5 class="modal-title" id="errorModalLabel">Внимание!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center" id="errorModalBody">
                <p id="modalMessage"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>


</body>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.min.js"
        integrity="sha384-7qAoOXltbVP82dhxHAUje59V5r2YsVfBafyUDxEdApLPmcdhBPg1DKg1ERo0BZlK"
        crossorigin="anonymous"></script>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<script src="/js/index.js"></script>

</html>

