<!doctype html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <title>Index</title>
</head>
<body>

<header class="p-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                    <use xlink:href="#bootstrap"/>
                </svg>
            </a>
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a class="nav-link px-0 text-white" id="authEmailMess">...</a></li>
            </ul>
            <div class="text-end">
                <td><a href="/logout" class="btn btn-outline-light me-2" tabindex="-1" role="button"
                       aria-disabled="false">LOGOUT</a></td>
            </div>
        </div>
    </div>
</header>
<hr class="h1">
<div class="container text-lg-start">
    <div class="row align-items-start">
        <div class="col-1">
            <br/>
            <a class="nav-link" href="/admin">Admin</a>
            <br/>
            <a class="nav-link" href="/user">User</a>
        </div>
        <div class="col">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home"
                            type="button" role="tab" aria-controls="nav-home" aria-selected="true">Admin
                    </button>
                    <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"
                            type="button" role="tab" aria-controls="nav-profile" aria-selected="false">User
                    </button>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab"
                     tabindex="0">
                    <hr class="h1">
                    <h5>ADMIN PANEL</h5>
                    <table id="usersTable" class="table">
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">First name</th>
                            <th scope="col">Last name</th>
                            <th scope="col">Age</th>
                            <th scope="col">Email</th>
                            <th scope="col">Role</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab"
                     tabindex="0">
                    <div class="container">
                        <h1>New User</h1>
                        <form id="registrationForm" class="was-validated" method="post">
                            <input type="hidden" id="id" name="id" value="">
                            <div class="form-group">
                                <label for="firstName">First name:</label>
                                <input class="form-control form-control-sm is-invalid" type="text" id="firstName"
                                       name="name"
                                       placeholder="First name. Required field!" required>
                            </div>
                            <div class="form-group">
                                <label for="lastName">Last name:</label>
                                <input class="form-control form-control-sm is-invalid" type="text" id="lastName"
                                       name="lastName"
                                       placeholder="Last name. Required field!" required>
                            </div>
                            <div class="form-group">
                                <label for="age">Age:</label>
                                <input type="number" min="18" max="100" class="form-control form-control-sm is-invalid"
                                       id="age"
                                       name="age"
                                       placeholder="Age. Required field!" required>
                            </div>
                            <div class="form-group">
                                <label for="email">Email:</label>
                                <input class="form-control form-control-sm is-invalid" type="email" id="email"
                                       name="email"
                                       placeholder="Email. Required field!" required>
                                <div class="invalid-feedback" id="userEmailFeedback"></div>
                            </div>
                            <div class="form-group">
                                <label for="password">Password:</label>
                                <input class="form-control form-control-sm is-invalid" type="password" id="password"
                                       name="password"
                                       placeholder="Password. Required field!" required>
                            </div>
                            <div id="errorCreateMessage" class="text-danger" style="display:none;"></div>
                            <br/>
                            <div class="form-check">
                                <label>Roles:
                                    <div class="container-fluid" id="rolesCreateContainer">
                                    </div>
                                </label>
                            </div>
                            <button type="button" class="btn btn-primary" id="createUserButton">Create</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Модальное окно  edit -->

<div class="modal" id="userEditDialog" tabindex="-1" role="dialog" aria-labelledby="userEditDialogLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="userEditDialogLabel">Edit user</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="editForm" class="was-validated" method="post">
                    <input type="hidden" id="user-id" name="id">
                    <input type="hidden" id="user-rolesArray" name="roles">
                    <div class="form-group">
                        <label for="user-name">First name:</label>
                        <input type="text" class="form-control form-control-sm is-invalid" id="user-name" name="name"
                               placeholder="First name. Required field!" required>
                    </div>
                    <div class="form-group">
                        <label for="user-lastName">Last name:</label>
                        <input type="text" class="form-control form-control-sm is-invalid" id="user-lastName"
                               name="lastName"
                               placeholder="Last name. Required field!" required>
                    </div>
                    <div class="form-group">
                        <label for="user-age">Age:</label>
                        <input type="number" min="18" max="100" class="form-control form-control-sm is-invalid"
                               id="user-age" name="age"
                               placeholder="Age. Required field!" required>
                    </div>
                    <div class="form-group">
                        <label for="user-email" class="col-form-label">Email:</label>
                        <input type="email" class="form-control form-control-sm is-invalid" id="user-email" name="email"
                               placeholder="Email. Required field!" required>
                    </div>
                    <div class="form-group">
                        <label for="user-password" class="col-form-label">Password:</label>
                        <input type="text" class="form-control form-control-sm is-invalid" id="user-password"
                               name="password"
                               placeholder="Password. Required field!" required>
                    </div>
                    <div class="form-group">
                        <label for="user-roles" class="col-form-label">ROLES:</label>
                        <input type="text" class="form-control form-control-sm" id="user-roles" readonly>
                    </div>
                    <div id="errorEditMessage" class="text-danger" style="display:none;"></div>
                    <br/>
                    <div class="form-check">
                        <label>Roles:
                            <div class="container-fluid" id="rolesEditContainer">
                            </div>
                        </label>
                    </div>
                    <button id="editUserConfirmButton" type="button" class="btn btn-primary">EDIT
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Модальное окно  Delete -->

<div class="modal fade" id="userDeleteDialog" tabindex="-1" role="dialog" aria-labelledby="userDeleteDialogLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="userDeleteDialogLabel">DELETE this user?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="deleteForm">
                    <input type="hidden" id="userDel-id">
                    <div class="form-group row">
                        <label for="userDel-name" class="col-sm-4 col-form-label">First name</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control-plaintext" id="userDel-name" readonly>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="userDel-lastName" class="col-sm-4 col-form-label">Last name</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control-plaintext" id="userDel-lastName" readonly>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="userDel-age" class="col-sm-4 col-form-label">Age:</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control-plaintext" id="userDel-age" readonly>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="userDel-email" class="col-sm-4 col-form-label">Email:</label>
                        <div class="col-sm-5">
                            <input type="email" class="form-control-plaintext" id="userDel-email" readonly>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="userDel-roles" class="col-sm-4 col-form-label">ROLES:</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control-plaintext" id="userDel-roles" readonly>
                        </div>
                    </div>
                    <button type="button" class="btn btn-danger" id="deleteUserButton">DELETE</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Модальное окно  Error -->

<div class="modal fade" id="modalMessageWindow" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" style="background-color: orange;">
            <div class="modal-header">
                <h5 class="modal-title" id="errorModalLabel">Внимание!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center" id="errorModalBody">
                <p id="modalMessage"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>


</body>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.min.js"
        integrity="sha384-7qAoOXltbVP82dhxHAUje59V5r2YsVfBafyUDxEdApLPmcdhBPg1DKg1ERo0BZlK"
        crossorigin="anonymous"></script>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>


<script>

    // ============= Модальное окно для предупреждений ===========================================
    const modalMessage = new bootstrap.Modal(document.getElementById('modalMessageWindow'), {
        keyboard: false
    });
    // ===================   Вызов функции заполнения таблицы при загрузке страницы =====================
    document.addEventListener('DOMContentLoaded', loadData);
    // ====================   Функция для заполнения таблицы юзеров и создания новых ==========================
    async function loadData() {
        const table = document.getElementById('usersTable');
        const [response1, response2, response3] = await Promise.all([
            fetch('/ajax/roles'),
            fetch('/ajax/users'),
            fetch('/auth')
        ]);
        let allRoles = await response1.json()// <-- получаем массив объектов Role
        let data = await response2.json()// <-- получаем массив юзеров
        let authUser = await response3.json()// <-- получаем аутентифицированного юзера

        let authEmailMess = document.getElementById("authEmailMess");
        authEmailMess.innerText = authUser.email + " with roles: " + authUser.stringRoles;

        data.forEach(obj => {
            const row = table.insertRow();
            const idCell = row.insertCell();
            const nameCell = row.insertCell();
            const lasNameCell = row.insertCell();
            const ageCell = row.insertCell();
            const emailCell = row.insertCell();
            const roleCell = row.insertCell();
            const buttonEditCell = row.insertCell(-1);
            const buttonDeleteCell = row.insertCell(-1);

            row.id = `userRow${obj.id}`;
            idCell.textContent = obj.id;
            nameCell.textContent = obj.name;
            lasNameCell.textContent = obj.lastName;
            ageCell.textContent = obj.age;
            emailCell.textContent = obj.email;
            roleCell.textContent = obj.stringRoles;

            const buttonEdit = document.createElement('button');
            buttonEdit.textContent = 'EDIT';
            buttonEdit.classList.add('btn', 'btn-primary');
            buttonEdit.addEventListener('click', function () {
                editUserForm(obj.id)
            });

            const buttonDelete = document.createElement('button');
            buttonDelete.textContent = 'DELETE';
            buttonDelete.classList.add('btn', 'btn-danger');
            buttonDelete.addEventListener('click', function () {
                deleteUserForm(obj.id)
            });

            buttonEditCell.appendChild(buttonEdit);
            buttonDeleteCell.appendChild(buttonDelete);
        });

        // заполнение чекбосков ролей во вкладке NEW
        const container = document.getElementById('rolesCreateContainer');
        container.innerHTML = '';   // очищаем контейнер с ролями
        allRoles.forEach(role => {
            const checkbox = document.createElement('input');
            checkbox.type = 'checkbox';
            checkbox.id = `role-${role.roleId}`;
            checkbox.name = 'role';
            checkbox.value = role.roleId;
            const label = document.createElement('label');
            label.htmlFor = `role-${role.roleId}`;
            label.textContent = role.roleName;

            container.appendChild(checkbox);
            container.appendChild(label);
            container.appendChild(document.createElement('br'));
        });
//========================== Обработка нажатия кнопки CREATE ==========================================

        $("#createUserButton").on('click', async function () {
            console.log("Нажата кнопка отправки юзера для создания")
            const form = document.getElementById('registrationForm');
            if (form.checkValidity() && validateCheckboxes('errorCreateMessage')) {
                const formData = new FormData(form);
                formData.delete('role')
                const rolesArr = getRolesFromCheckboxes(allRoles); // это массив ролей для этого пользователя
                const formObject = Object.fromEntries(formData.entries()); // создаем объект пользователя из формы
                formObject.roles = rolesArr; // добавляем в него массив ролей этого пользователя
                const userJson = JSON.stringify(formObject); // конвертим объект в JSON для отправки
                console.log("Это JSON для создания пользователя ПОСЛЕ добавления массива ролей - " + userJson)
                console.log("Отправляю юзера для создания")
                let response = await fetch('/ajax/createUser', {
                    headers: {'Content-Type': 'application/json'},
                    method: 'POST',
                    body: userJson
                })
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                let data = await response.json()// <-- получаем данные в формает json
                console.log('Success:', data);
                // Обрабатываем успешный ответ
                // Создаем новую строку таблицы юзеров
                const row = table.insertRow();
                const idCell = row.insertCell();
                const nameCell = row.insertCell();
                const lasNameCell = row.insertCell();
                const ageCell = row.insertCell();
                const emailCell = row.insertCell();
                const roleCell = row.insertCell();
                const buttonEditCell = row.insertCell(-1);
                const buttonDeleteCell = row.insertCell(-1);
                row.id = `userRow${data.id}`;
                idCell.textContent = data.id;
                nameCell.textContent = data.name;
                lasNameCell.textContent = data.lastName;
                ageCell.textContent = data.age;
                emailCell.textContent = data.email;
                roleCell.textContent = data.stringRoles;
                const buttonEdit = document.createElement('button');
                buttonEdit.textContent = 'EDIT';
                buttonEdit.classList.add('btn', 'btn-primary');
                buttonEdit.addEventListener('click', function () {
                    editUserForm(data.id)
                    console.log("Нажата кнопка для редактирования в Таблице")
                });

                const buttonDelete = document.createElement('button');
                buttonDelete.textContent = 'DELETE';
                buttonDelete.classList.add('btn', 'btn-danger');
                buttonDelete.addEventListener('click', function () {
                    deleteUserForm(data.id)
                });

                buttonEditCell.appendChild(buttonEdit);
                buttonDeleteCell.appendChild(buttonDelete);

                const buttonTabHome = document.getElementById('nav-home-tab');
                buttonTabHome.click();  // Переход в список пользователей
                form.reset();  // Очистка формы
            } else {
                modalMessage.show();
                let modalText = document.getElementById("modalMessage");
                modalText.innerText = "Вводи данные внимательнее! Бестолочь! Написано же - что куда вводить!";
            }
        });
    }
        // ==========================   Функция для удаления пользователя ==========================================
    async function deleteUserForm(id) {
        let response = await fetch('/ajax/' + id) //<-- получаем юзера для удаления
        let data = await response.json()// <-- получаем данные в формает json
        const modal = new bootstrap.Modal(document.getElementById('userDeleteDialog'), {
            keyboard: false
        });
        modal.show()
        document.getElementById('userDel-id').value = data.id;
        document.getElementById('userDel-name').value = data.name;
        document.getElementById('userDel-lastName').value = data.lastName;
        document.getElementById('userDel-age').value = data.age;
        document.getElementById('userDel-email').value = data.email;
        document.getElementById('userDel-roles').value = data.stringRoles;

        $("#deleteUserButton").one('click', async function () {

            let response = await fetch('/ajax/delete?id=' + id)
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            let data = await response.json()// <-- получаем данные в формает json

            const row = document.getElementById("userRow" + data.id);
            row.remove();
            modal.hide();
            modalMessage.show();
            let modalText = document.getElementById("modalMessage");
            modalText.innerText = "УДАЛЕНО";
        });

    }
    // ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++=
    // ==================  Пакет для редактирования юзера   ==================================================
    //++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    // Функция для заполнения окна редактирования пользователя
    async function editUserForm(id) {
        const [response1, response2] = await Promise.all([
            fetch('/ajax/roles'),
            fetch('/ajax/' + id)
        ]);
        let allRoles = await response1.json()// <-- получаем массив объектов Role
        console.log(allRoles)
        let user = await response2.json()// <-- получаем объект User
        console.log(user)
        let userRoles = user.roles
        console.log(userRoles)
        const modal = new bootstrap.Modal(document.getElementById('userEditDialog'), {
            keyboard: false
        });
        modal.show()
        document.getElementById('user-id').value = user.id;
        document.getElementById('user-name').value = user.name;
        document.getElementById('user-lastName').value = user.lastName;
        document.getElementById('user-age').value = user.age;
        document.getElementById('user-email').value = user.email;
       // document.getElementById('user-password').value = user.password;  - Поле Пароль пустое, иначе, если его не изменить, сохранится пароль из каши символов
        document.getElementById('user-roles').value = user.stringRoles;

        createRoleCheckboxesForEdit(allRoles, userRoles, 'rolesEditContainer');


        $("#editUserConfirmButton").one('click', async function () {
            const form = document.getElementById('editForm');
            if (form.checkValidity() && validateCheckboxes('errorEditMessage')) {
                const formData = new FormData(form);
                formData.delete('role')
                const rolesArr = getRolesFromCheckboxes(allRoles); // это массив ролей для этого пользователя
                const formObject = Object.fromEntries(formData.entries()); // создаем объект пользователя из формы
                formObject.roles = rolesArr; // добавляем в него массив ролей этого пользователя
                const userJson = JSON.stringify(formObject); // конвертим объект в JSON для отправки
                let response = await fetch('/ajax/editUser', {
                    headers: {'Content-Type': 'application/json'},
                    method: 'POST',
                    body: userJson
                })
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                let data = await response.json()// <-- получаем данные в формает json
                // Обрабатываем успешный ответ
                // Обновляем данные в строке измененного юзера
                const row = document.getElementById("userRow" + data.id);
                if (row) {
                    row.cells[0].innerHTML = data.id;
                    row.cells[1].innerHTML = data.name;
                    row.cells[2].innerHTML = data.lastName;
                    row.cells[3].innerHTML = data.age;
                    row.cells[4].innerHTML = data.email;
                    row.cells[5].innerHTML = data.stringRoles;
                } else {
                    console.log("Строка с ID" + data.id + "не найдена");
                }
                modal.hide()
                form.reset();  // Очистка формы
            } else {
                modal.hide()
                await editUserForm(id);
                modalMessage.show();
                let modalText = document.getElementById("modalMessage");
                modalText.innerText = "Вводи данные внимательнее! Бестолочь! Написано же - что куда вводить!";
            }
        });
    }

    // Вытягивавет роли пользователя из чекбоксов и делает из них массив
    function getRolesFromCheckboxes(allRoles) {
        const checkboxes = document.querySelectorAll('input[type="checkbox"]');
        const roles = [];
        for (const checkbox of checkboxes) {
            if (checkbox.checked) {
                allRoles.forEach(role => {
                    if (role.roleId == checkbox.value) {
                        roles.push(role);
                    }
                });
            }
        }
        return roles;
    }

    //  Функция для создания и заполнения чекбоксов ролей юзера при редактировании
    function createRoleCheckboxesForEdit(allRoles, userRoles, containerId) {
        const container = document.getElementById(containerId);
        if (!container) {
            console.error(`Container with id "${containerId}" not found.`);
            return;
        }
        container.innerHTML = '';   // очищаем контейнер с ролями
        allRoles.forEach(role => {
            const checkbox = document.createElement('input');
            checkbox.type = 'checkbox';
            checkbox.id = `role-${role.roleId}`;
            checkbox.name = 'role';
            checkbox.value = role.roleId;
            userRoles.forEach(userRole => {
                if (userRole.roleName == role.roleName) {
                    checkbox.checked = true;
                }
            })
            const label = document.createElement('label');
            label.htmlFor = `role-${role.roleId}`;
            label.textContent = role.roleName;

            container.appendChild(checkbox);
            container.appendChild(label);
            container.appendChild(document.createElement('br')); // Добавляем <br> для переноса строки
        });
    }

    // =======================================================================================================
    //++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
    //////////////////////////////////////////////////////////////////////////////////////////////////////////

    // ================   Функция для проверки чекбоксов ролей при создании юзера =============================
    function validateCheckboxes(messageId) {
        const checkboxes = document.querySelectorAll('input[type="checkbox"]');
        let isChecked = false;
        checkboxes.forEach(function (checkbox) {
            if (checkbox.checked) {
                isChecked = true;
            }
        });
        const errorMessage = document.getElementById(messageId);
        if (!isChecked) {
            errorMessage.textContent = 'Пожалуйста, выберите хотя бы одну роль.';
            errorMessage.style.display = 'block';
            return false;
        } else {
            errorMessage.style.display = 'none';
            return true;
        }
    }
    // ======================================================================================

</script>

</html>

