<!doctype html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <title>Index</title>
</head>
<body>


<header class="p-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                    <use xlink:href="#bootstrap"/>
                </svg>
            </a>
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a class="nav-link px-0 text-white" id="authEmailMess">...</a></li>
            </ul>
            <div class="text-end">
                <td><a href="/logout" class="btn btn-outline-light me-2" tabindex="-1" role="button"
                       aria-disabled="false">LOGOUT</a></td>
            </div>
        </div>
    </div>
</header>
<hr class="h1">
<div class="container text-lg-start">
    <div class="row align-items-start">
        <div class="col-1">
            <br/>
            <a class="nav-link" href="/user">User</a>
        </div>
        <div class="col">
            <h1>User information page</h1>
            <div class="col">
                <hr class="h1">
                <h6>About user</h6>
                <table id="usersTable" class="table">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">First name</th>
                        <th scope="col">Last name</th>
                        <th scope="col">Age</th>
                        <th scope="col">Email</th>
                        <th scope="col">Role</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.min.js"
        integrity="sha384-7qAoOXltbVP82dhxHAUje59V5r2YsVfBafyUDxEdApLPmcdhBPg1DKg1ERo0BZlK"
        crossorigin="anonymous"></script>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<script>

    document.addEventListener('DOMContentLoaded', loadData);

    // Функция для заполнения таблицы юзеров
    async function loadData() {
        let response = await fetch('/auth') //<-- получаем аутентифицированного пользователя
        let data = await response.json()// <-- получаем данные в формает json
        let authEmailMess = document.getElementById("authEmailMess");
        authEmailMess.innerText = data.email + " with roles: " + data.stringRoles;
        // Создаем новую строку таблицы юзеров
        const table = document.getElementById('usersTable');
        const row = table.insertRow();
        const idCell = row.insertCell();
        const nameCell = row.insertCell();
        const lasNameCell = row.insertCell();
        const ageCell = row.insertCell();
        const emailCell = row.insertCell();
        const roleCell = row.insertCell();
        row.id = `userRow${data.id}`;
        idCell.textContent = data.id;
        nameCell.textContent = data.name;
        lasNameCell.textContent = data.lastName;
        ageCell.textContent = data.age;
        emailCell.textContent = data.email;
        roleCell.textContent = data.stringRoles;
    }

</script>
</html>

